body{
    background-color: #5e5e5e;
}
#GameBoard
{
   
   
    height: 70%;
    width:90%;
    min-width: 10px;
    min-height: 200px;
    border:solid;
    position:absolute;
    top:2%;
    left:5%;
   
}



.circle {
    height: 50px;
    width: 50px;
    background-color: yellow;
    border-radius: 50%;
    position:absolute;
    
    
  }

#ControlPanel
{
    margin-top:10px;
    position:absolute;
    left:5%;
}
#ButtonsPanel :nth-child(n)
{
    margin-right: 15px;
  
}




